@import '../../assets/styles/variables';
.search {
    height: 83px;
    position: sticky !important;
    top: 0 !important;
    z-index: 7000 !important;
    .fa-circle-xmark{
        color: $primary-color;
    }
}

.results{
    z-index: 7000 !important;
    position: fixed !important;
    top: 90px !important;
    background-color: $white-color;
    transition: all 0.5s ease-in;
}