.dark-mode {
  background-color: $background-dark !important;

  .navbar,.dropdown-menu {
    background-color: $background-light !important;
  }

  .link,
  .category p ,.input-group-text,form span,.custom-btn .svg-inline--fa{
    color: $dm-text-color !important;
  }

  .dropdown-menu a,
  .options .svg-inline--fa {
    color: $dm-primary-color !important;
  }

  .navbar-brand,
  h3,
  .active-link,
  .icons .svg-inline--fa,
  h4,
  h1,
  h2,
  .dropdown-item {
    color: $dm-primary-color !important;
  }

  .dropdown-item {
    &:hover {
      background-color: $background-dark !important;
    }
  }

  .social-media {
    .svg-inline--fa {
      background-color: $dm-secondary-color;

      &:hover {
        background-color: $white-color;
        color: $dm-secondary-color;
      }
    }
  }

  .profile-contact .svg-inline--fa {
    color: $dm-secondary-color !important;
  }

  input::placeholder,
  textarea::placeholder,
  span,
  p,
  h5,
  li a,
  .card-subtitle,
  .form-label,
  .modal-title, ul .nav-link {
    color: $dm-link-color !important;
  }

  a {
    color: $dm-link-color;

    &:active {
      color: $dm-secondary-color !important;
    }
  }

  .footer {
    background-color: $background-light !important;
    color: $dm-text-color !important;
  }

  .search {
    background-color: $background-light !important;

    .input-group-text {
      background-color: $dm-secondary-color !important;

      .svg-inline--fa {
        color: $dm-text-color !important;
      }
    }
  }

  .results {
    background-color: $background-light !important;
  }

  .custom-btn {
    color: $dm-text-color !important;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.6) !important;

    &:hover {
      box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.6) !important;
      transform: translateY(-2px) !important;
      transition: all 0.3s ease-in-out;
    }
  }

  .card,
  .swiper-content,
  .form-control {
    background-color: transparent !important;
    color: $dm-text-color !important;
  }

  .modal-content {
    background-image: linear-gradient(
      to top,
      $background-light 0%,
      $background-light 52%,
      $background-dark 100%
    );
  }
}
