//fonts
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather:wght@400;700&display=swap');

$primary-font:'Bebas Neue', sans-serif;
$secondary-font: 'Merriweather', serif;

//colors
$primary-color : #257180;
$secondary-color: #FD8B51;
$white-color : #fff;
$text-color: #333;