.title{
    font-size: 5rem;
    color:#1480ed
}

.error-img {
    animation: moveUpDown 2s infinite ease-in-out;
  }
  
  @keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }